<div class="container blogPost">
    <div class="row">
        <div class="col-sm-9 px-md-5">
            <h2 class="blog-post-title">
                <%- item.title || item.link%>
            </h2>
            <p class="meta">
                <i class="far fa-clock"></i>
                <%= item.date.format(config.date_format) %> <%- partial('categories', {item: item}) %>
            </p>
            <!-- Content -->
            <%- item.content %>
            <br />
            <p class="meta">
                <%- partial('tags', {item: item}) %>
            </p>
        </div>

        <div class="col-sm-3">
            <%- partial('sidebar', {item: item}) %>
        </div>
    </div>
</div>
<!-- Menu fade on scroll -->
<script>
    var isScrolling;
    var prevScrollpos = window.pageYOffset;
    window.addEventListener(
        'scroll',
        function(event) {
            window.clearTimeout(isScrolling);
            isScrolling = setTimeout(function() {
                var currentScrollPos = window.pageYOffset;
                if (prevScrollpos > currentScrollPos) {
                    $('#navbar').slideDown();
                } else {
                    $('#navbar').slideUp();
                }
                prevScrollpos = currentScrollPos;
            }, 66);
        },
        false
    );
</script>
